.training-information-container{
    display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;

  .shoesType , .trainingType{
    display: flex;
    justify-content: center;

}
}