.division-image{
    position: relative;
    left: 50%;
    transform:  translate(-50%, 0%);
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.summarizing-results canvas{
    width: 20%;
    height: 20%;
}
.summarizing-results span{
    font-size: 2.2em;
}

.season-player-stats{
 border: 2px solid #a9a5a5;
  transition: 0.4s;
    margin-bottom: 4em;
}

