nav {
    max-width: 1900px;
    margin: auto;
    padding: 0;
}
.navbar-link {
    height: 100%;
    color: #282828;
    font-size: 1em;
}
.navbar-link:hover{
    color: #696969;
}
.logo{

    width: 5em;
}
.user-nav-profile-img{
    object-fit: cover;
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    margin-right: 0.4em;
}
.nav-username{
    display: flex;
    float: left;
    font-size: 1em;
    padding: 0px;
    margin: auto;
    margin-right: 2%;
    color: #383839;

}
.current-item{
    border-bottom: 2px solid orangered;
}
