
body {
   background-color: white;
    height: 100vh;
}

form{
    position: relative;
    top: 50%;
    margin-top: 0% ;
    transform: translate(0%, -50%);
}

.page-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100vw;
    margin: 0 auto;
}
.image-holder{
    margin: auto;
    position: relative;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -5%);
    display: block;
}

img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    max-height: 13em;

}


#btn  {
    background-color: #fa6b4d;
    border-color: #f94019;
}
#btn:hover {
    background-color: #f94019;
}



/*= input focus effects css
=========================== */
:focus{outline: none;}


input {
    background-color: white;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.btn{
    background-color: #fa6b4d;
    border-color: #f94019;
    color:white;
}
.btn:hover {
    background-color: #f94019;
}

.effect-2 {
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}

.effect-2 ~ .focus-border {
    position: absolute;
    bottom: 0; left: 50%;
    width: 0; height: 2px;
    background-color: #f94019;
    transition: 0.4s;
}
.effect-2:focus ~ .focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
}


option {
    width: 30px;
}


.select{

    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0%;
    padding-left:  0px;
    outline-style: none;
}


.select:focus {
    border-bottom: 1px solid #f94019;
        box-shadow: none;

}

.a-signUp {
    color: black;
}

.p-signUpError {
    color: white;
    font-size: 18px;
    display: none;
}