
.form {
    width: 100%;
    margin-top: 2rem;
    margin: auto;
}

.information-div{
    width: 90%;
}

.player-visit-container {
    margin: 0;
    padding: 2%;
    width: 80vw;
    background-color: white;
    border: 2px solid #c7c7c7;
    border-radius: 20px;
}

.profile-pic-changer{
    cursor: pointer;
    border-radius: 100%;
    width: 13em;
    height: 13em;
    padding: 0.5em;
    transition: 0.2s ease-in;
    border: 1px solid #b7b7b7;
    object-fit:cover;

}

