
.player-position{
    position: absolute;
    top: 54%;
    left: -24%;
    width: 96%;
    font-size: 1rem;
    padding: 3%;
    color: white;
    font-family: sans-serif;
    visibility: hidden;
}

.player-status-container {
    margin: auto;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 0%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    backdrop-filter: blur(10px);
    z-index: 300;
    transition: all ease 0.6s;

}


.team-status-container{
    visibility: hidden;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 300;
    transition: none;

}
.coache-status-container{
    visibility: hidden;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 300;
    transition: none;

}
.youthTeam-container{
    width: 100%;
    padding: 0px;
    background-color: black;

}
.player-status-div {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -100%);
    height: 450px;
    max-height: 450px;
    width: 80%;
    max-width: 1400px;
    border-radius: 15px;
    background-color: rgba(245, 245, 245, 0.96);
    z-index: 2500;
    transition: all ease 1s;
}


.send-player-missing-btn{
    border-radius: 10px;
}

.team-status-div {
    z-index: 2500;
    height: 450px;
    max-height: 450px;
    width: 80%;
    max-width: 1400px;
    margin: auto;
    background-color: whitesmoke;
    position: fixed;
    visibility: hidden;
    transition: none;
}


/*}*/


.coache-status-div{
    z-index: 2500;
    height: 450px;
    max-height: 450px;
    width: 80%;
    max-width: 1400px;
    margin: auto;
    background-color: whitesmoke;
    position: fixed;
    visibility: hidden;
    transition: none;
}


.player-status-p{

    color: rgba(26, 26, 26, 0.97);
    font-size: 2rem;
    margin: 1.2rem;
    margin-left: 0px;

}
.portfolio-player-img {
    width: 80%;
    max-width: 300px;
    object-fit: cover;
    height: 70%;
    cursor: pointer;
}

.fa-times-circle{
    position: absolute;
    top: -6.5%;
    left: 100%;
    font-size: 30px;
    z-index: 600;
    color: #f86954;
    cursor: pointer;
}
.add-player {
    cursor: pointer;
    background-color: rgba(255, 105, 84, 0.76);

}

.add-coache {
    cursor: pointer;
    background-color: rgba(255, 105, 84, 0.76);
}

.add-player-img {

    padding: 5%;
    border-radius: 100px;
    margin-top: 35%;
    margin-bottom: 35%;
    width: 50%;
}

.add-player:hover {
    box-shadow: 0px 10px 20px 2px darkgray;
}

.add-coache:hover {
    box-shadow: 0px 10px 20px 2px darkgray;
}
.coache_image_profile{
    width: 50%;
    max-width: 300px;
    padding: 0px;
    margin: 0;
}
.status-red {

    position: absolute;
    border-radius: 100%;
    padding: 0px;
    border: 9px solid #b95500;
    top: 2%;
    left: 90%;
    z-index: 100;
}
.myBorderPlayerStat-left:hover{

    border-left: 5px solid #f86954;
}
.myBorderPlayerStat-left > h2:hover{
    margin-left: 2% ;
}

.myBorderPlayerStat-right{
    border-left: 5px solid #f86954;
}
.player_profile_car_img{
    max-width: 275px;
    object-fit: cover;
    height: auto;
    max-height: 350px;
    border-radius: 5px;
}
.player_card-p {
    padding: 0;
    margin: 0;
    color: gray();
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
    content: "1";
}
.country-img {
    width: 100%;
    max-width: 250px;
}
.country-container{
    max-width: 300px;
    padding: 1%;
    border: 1px solid #cdcdcd;
    border-radius: 1px;
}
.country-container:hover {
    box-shadow: 0px 10px 20px 2px darkgray;
}
.country-text {
    color: #000;
    margin-left: 4%;
}
.country-fa-times{
    color: black;
    position: absolute;
    font-size: 25px;
    left: 92%;
    top: 0%;
    cursor: pointer;
}
.country-fa-times:hover {
    color: orangered;
}

.country-fa-times > .color-black{
    color: black;
}

.players{
    top: 3%;
    left: 5%;
    color: white;
}

.coaches {
    top: 3%;
    left: 5%;
    color: white;
}

.player-stats-input{
    font-size: 35px;
}
.player-stats-div {
    width: 45%;

}
.color-black{
    color: black!important;
}