@import "particles/addingPlayerBoxesStyle.css";
@import "../particles/tableStyle.css";

/*create training style*/
.create-training-container{
    position: relative;
    padding-top: 47.37%;
    margin-top: 3em;
    width: 100%;
    overflow: hidden;
}

.create-training-a-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.create-training-image, .create-training-image-container{
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    height: auto;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.5s ease;
}

.create-training-image-container::after{
    content: " ";
    position: absolute;
    background-color: rgba(13, 13, 13, 0.9);
    top: 0;bottom: 0;left: 0;right: 0;
    z-index: 100;
    opacity: 0.1;
    transition: all 0.5s ease;
}

.create-training-image-container:hover:after {
    opacity: 0.6;

}


.create-training-p {
    position: absolute;
    font-size: 1.8em;
    top: 65%;
    left: 5%;
    max-width: 70%;
    text-align: left;
    z-index: 200;
    color: white;
}


.player-status-div{
    display: flex;
    position: absolute;
    width: 95%;
    max-width: 95%;
    margin: auto;
    height: 90%;
    visibility: hidden;
}


.search-container-holder{
    position: absolute;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 0 ;



}
/*results from search of players style*/


/*table style*/
thead{
    background-color: #242424;
    color: white;
    text-align: center;
    font-size: 0.8em;
}


thead  th {
    text-align: center;
    width: 15%;

}
tbody th {
    text-align: center;
    width: 15%;
}

/*row elements style*/
.player  p {
    display: inline-block;
}

.player  img {
    box-sizing: border-box;
    height: 1.4em;
    padding: 0.2em;

}

.player-profile-image{
    height: 2.5em;
    padding-left: 0.4em;
}


/**/

.search-player-results-container{
    height:100%;
    width: 100%;
}

.player-search-results{
    height: 100%;
}
