{% extends 'admin/base.html.twig' %}

{%  block body %}
    <div id="container ">
        <div class="row mt-5  justify-content-center">
            <div class="col-12 justify-content-center text-center">
                {% if coache.Image == null or coache.Image == ' ' %}
                    <img src="{{asset('images/user1-white2.png')}}" alt="" class="coache_image_profile">
                {% else %}
                    <img src="{{asset('images/'~ coache.Image )}}" alt="" class="">
                {% endif %}
            </div>

            <p>{{ coache.UserId.Name }} {{ coache.UserId.fName }}</p>
        </div>
    </div>
{% endblock %}