.player-container{
    max-width: 15em;
    margin: auto;
    max-height: 18em;
    height: 100%;
    padding: 0px;
    background-color: white;
    border-radius: 15px;
    transition: all 0.4s ease;
    border: 2px solid rgba(255, 105, 84, 0.76);
    overflow: hidden;

}

.player-container:hover:after{
    opacity: 0.5;
}




.player_portfolio {
    height: 100%;
}

.add-player-container{
    position: relative;
    height: 100%;
    cursor: pointer;
    background-color: rgba(255, 105, 84, 0.76);
}

.add-player-container:hover{
    background-color: rgba(255, 105, 84, 0.89);;
}


.player-img, .image{
    position: relative;
    bottom: 10%;
    width: 100%;
    max-width: 35em;
    object-fit: cover;
    opacity: 0.8;
    cursor: pointer;
    margin-top: 35%;
    transition: all 0.3s ease;
    transform: scale(1.2, 1.2);
}
.image {
    top: -20%;
    bottom: 0%;
}

.add-player-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5%;
    border-radius: 100%;
    width: 50%;
}


.player-img:hover, .image{
    opacity: 1;
}
.player-name {
    position: absolute;
    top: 55%;
    font-size: 1.4em;
    padding-left: 5%;
    padding-top: 1.6em;
    color: white;
    font-family: sans-serif;
    background: linear-gradient(360deg, rgba(0,0,0, 0.4 ) , rgba(0,0,0, 0.0));
    width: 100%;
    height: 45%;
    text-shadow: 1px 0 0 #3f3f3f, 0 -1px 0 #3f3f3f, 0 1px 0 #3f3f3f, -1px 0 0 #3f3f3f;
}
.player-position{
    position: absolute;
    top: 54%;
    left: 24%;
    width: 96%;
    font-size: 1rem;
    padding: 3%;
    color: white;
    font-family: sans-serif;
    visibility: hidden;
}

.status-green, .status-red{
    position: absolute;
    border-radius: 100%;
    border: 9px solid #3e8021;
    top: 3%;
    left: 89%;
    z-index: 100;
}

.status-red {
    border: 9px solid #b95500;
}