@import url("../typography.css");

.player-container{
    position: relative;
    box-sizing: border-box;
}
.status-red,
.status-green
{
    left: 3%;
}

.country-fa-times{
    color: white;
    text-shadow: 2px 0 0 #3f3f3f, 0 -2px 0 #3f3f3f, 0 2px 0 #3f3f3f, -2px 0 0 #3f3f3f;
    position: absolute;
    font-size: 25px;
    right: 3%;
    top: 2%;
    cursor: pointer;
    transition: 0.35s all ease;

}
.country-fa-times:hover {
    color: black;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}
.information-container > p {
    font-size: 2em;
    margin:0;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
}


.player-container{
    position: absolute;
    box-sizing: border-box;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
}

.youthTeamCard-wrap{
    position: relative;
    padding-top: 56.25%;
    width: 100%;
    overflow: hidden;
    border-radius: 3%;
}

.youthTeamCard-container{
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    border: 2px solid #242424;
    width: 100%;

}

.youthTeamCard-textInformation {
    position: absolute;
    left: 4%;bottom: 5%;
    text-align: left;
    color: white;
    font-size: 0.7em;

}

.youthTeamCard-image{
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    width: 100%;
    object-fit: cover;

}


@media only screen and (min-width: 1024px) {
    .youthTeamCard-wrap {
      padding-top: 31.25%;
    }
}