@import url("../typography.css");
nav {
    padding: 0;
}

.player-container{
    position: relative;
    box-sizing: border-box;
}
.div-charts{
    border: 2px solid rgba(201, 119, 13, 0.8);
    box-shadow: 1px 1px 5px 1px rgba(201, 119, 13, 0.4);
    border-radius: 15px;
    padding: 1rem;
}

.status-red,
.status-green
{
    left: 3%;
}

.country-fa-times{
    color: white;
    text-shadow: 2px 0 0 #3f3f3f, 0 -2px 0 #3f3f3f, 0 2px 0 #3f3f3f, -2px 0 0 #3f3f3f;
    position: absolute;
    font-size: 25px;
    right: 3%;
    top: 2%;
    cursor: pointer;
    transition: 0.35s all ease;

}
.country-fa-times:hover {
    color: black;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}
.information-container > p {
    font-size: 2em;
    margin:0;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
}


.player-container{
    position: absolute;
    box-sizing: border-box;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
}

.youthTeamCard-wrap{
    position: relative;
    padding-top: 22.25%;
    width: 100%;
    overflow: hidden;

}


.youthTeamCard-container{
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;

}

.youthTeamCard-container:after{
    content: "";
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    background: rgba(0,0,0,0.3);


}
.youthTeamCard-container::after:hover {
    background: rgba(0,0,0,0.1);
}

.youthTeamCard-textInformation {
    position: absolute;
    left: 4%;bottom: 5%;
    text-align: left;
    color: white;
    font-size: 0.7em;
    z-index: 2;

}
.youthTeamCard-image{
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;

}

.youthTeam-delete{
    z-index:2;
}
.add-team-circle-container{
    position: fixed;
    top: 90%;
    right: 5%;
    background-color: #ff7b7b;
    padding: 2.3rem;
    border: 1px solid red;
    border-radius: 100%;
    transition: 0.3s ease all;

}

.add-team-circle-container:hover{
    background-color: #ff3a35;
}

.add-team-circle{
    position: absolute;
    top: 0;left: 0;bottom: 0;right: 0;
    pointer-events: fill;
    cursor: pointer;
}


.add-team {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5%;
    border-radius: 100%;
    width: 2.7rem;
}



@media only screen and (max-width: 990px) {
    .youthTeamCard-wrap {
      padding-top: 56.25%;
    }
}